html {
	height: 100%;
}


body {
	padding: 0;
	margin: 0;
	min-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 20px auto 0;
    padding: 14px 15px;
    color: #1AA4C7;
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
   /* text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);*/
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 20px auto 0;
    padding: 14px 15px;
    color: #1AA4C7;
    font-size:15px;
    border-radius: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
/*    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
*/    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button.join-button {
    border: 2px solid #1AA4C7;
}
a.animated-button.join-button:after {
    background: #1AA4C7;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}





.sidebarhover {
    font-weight: 300;
    opacity: 0;
    width: 200px;
    height: 200px;
    display: block;
    position: fixed;
    z-index: 12;
    top: calc(50% - 60px);
    left: 95px;
    transition: all ease-in-out 0.6s;
    color: #1DB3E2;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}

.sidebarhover:a{
    color: #1DB3E2;
    text-decoration: none;
}

.sidebar {
    width: 60px;
    height: 200px;
    display: block;
    position: fixed;
    z-index: 12;
    top: calc(50% - 50px);
    left: 32px;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a.sidebar-item {
    opacity: 1;
}

.sidebar-item {
    width: 100%;
    height: 16px;
    padding-top: 7px;
    display: block;
    position: relative;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    cursor: pointer;
}

a {
    text-decoration: none;
}

.sidebar-item .sidebar-line {
    width: 50%;
    height: 1px;
    background: #5D6771;
    display: block;
    background-size: 200% 200%;
    background-position: 0
}

#intro {
    height: 100vh;

}

a.sidebar-item:focus .sidebar-line {
    width: 100%;
    background: #1DB3E2;
}

.sidebar:hover + .sidebarhover {
    opacity: 1;
    transition: all ease-in-out 0.6s;
}

.sidebar-item:hover .sidebar-line{
    background: #1DB3E2;
    transition: all ease-in-out 0.2s
}

.sidebar-item:target .sidebar-line {
    width: 100%;
}

video { display: block; }

video#bgvid { 

    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(media/blackink1.png) no-repeat;
    background-size: cover; 
    opacity: .2;
}

img#logo{
	display: block;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 200px;
	opacity: .9;
}

#about {
    height: 100vh;
    background-color: #FEFFFC;
    display: flex;
    align-items: center; 

}

#mission {
    padding-left: 70px;
    font-size: 40px;
    text-align: right;
}

#mission a{
    text-decoration: none;
    font-size: 20px;
    color: #03DF9B;
    font-weight: 500;
}

#research {
    display: flex;
    align-items: center; 
    background-color: #03DF9B;
    height: 100vh;
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    line-height: 2em;
}

#research a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

#research li:hover {
    font-weight: 500;
}

.ricons {
    width: 125px;
    border-radius: 50%;
}

#technology {
    background: #FEFFFC;
    height: 100vh;
    display: flex;
    align-items: center; 
    text-align: center;
}

.come-in {
  transform: translateY(500px);
  animation: come-in 2s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 2s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

#team {
    height: 100vh;
    background-color: #1AA4C7;
    display: flex;
    align-items: center; 
    text-align: center;
    text-decoration: none;

}

#team a {
    text-decoration: none;
    color: white;
}

.teambox {
    padding-bottom: 100px;
}

.teamd {
    color: white;
}

.name {
    font-size: 35px;
    font-weight: 200;
}

.leads {
    font-size: 15px;
    font-weight: 200;
}

.description {
    font-size: 15px;
    font-weight: 200;
}

.more-info-team {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}

#contact {
    height: 100vh;
    display: block;
    background-image: url("../photos/tableopacity.jpg");
    background-size: 100% 100%;
    text-align: center;
    color:#5D6771;
    display: flex;
    align-items: center; 
}

#mc_embed_signup {
/*    background: rgba(255, 255, 255, .9);*/
/*    width: 500px;
    margin: auto;
    padding: 20px;
    border: 10px black;
    background: #1AA4C7;*/

}


#mc_embed_signup_scroll input[type="email"] {
    width: 500px;
    padding: 10px;
    font-weight: 300;
    color: black;
}

#mc_embed_signup_scroll input[type="submit"] {
    width: 500px;
    background: #1AA4C7;
    color: white;
    font-weight: 700;
    padding: 10px;
    border: 0;
}

.social-media img{
    width: 50px;
    margin-left: 40px;
    margin-right: 40px;
}




@media screen and (max-device-width: 800px) {
    html {
         background: url(media/ink.png) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

.grid {
/*    display: block;
    margin-left: auto;
    margin-right: auto;*/
    max-width: 1200px;
    padding-left: 100px;
}

.grid-item { 
    display: block;
    width: 150px;
    float: left; 
    margin-top: 80px;
}


.grid-item img {width: 100%;}


